<div class="shop-cart">

<h1>My Resource Bag Saved</h1>
<table class="cart">

		<tr class="val">
            <td>{tag_productimage}</td>
            <td>{tag_productname_nolink}</td>
            <td align="left">{tag_productremovelink}</td>
		
		</tr>
		

</table>


    <div class="share_full">
       <!--<button type="button" class="btn btn-info btn-lg share_link" data-toggle="modal" data-target="#myModal">Share Resource Bag</button>-->
<a id="catshopbuy" onclick="{{buyButtonOnClick}}" href="{{quoteUrl}}" class="btn btn-info btn-lg share_link">Share Resource Bag</a>
    
    </div>
 <script type="text/javascript">
    $(document).ready(function(){
        $("li button").click(function(){
            var pageURL = $(location).attr("href");
                $("#CAT_Custom_492259").val(pageURL);
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $("button").click(function(){
            var pageURL = $(location).attr("href");
            $("p.url").html(pageURL);
        });
    });
</script>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share</h4>
        </div>
          <h6>Individual Products</h6>
        <p class="url"></p>
<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js?vs=b2282.r507300-phase1"></script>
<form name="catwebformform55997" method="post" onsubmit="return checkWholeForm55997(this)" enctype="multipart/form-data" action="http://george-schoenwald.bizdev.studio/FormProcessv2.aspx?WebFormID=218573&OID=4805460&OTYPE=35&EID=0&CID=0"> 
<div class="modal-body"></div>
    <table>
    <td> </td>
    </table>
<input type="text" name="EmailAddress" placeholder="Email Address" id="EmailAddress" class="cat_textbox" maxlength="255" />
<input type="hidden" maxlength="4000" name="CAT_Custom_492259" id="CAT_Custom_492259" class="cat_textbox" value="http://george-schoenwald.bizdev.studio/OrderRetrievev2.aspx?" />
<!--<input class="cat_button" type="submit" value="Submit" id="catwebformbutton" />-->
    <input type="submit" id="catwebformbutton" value="Save &amp; Quote and Schedule Consultation" class="cat_button" />
    <script type="text/javascript">
//<![CDATA[
var submitcount55997 = 0;function checkWholeForm55997(theForm){var why = "";
if (theForm.EmailAddress) why += checkEmail(theForm.EmailAddress.value); 
if(why != ""){alert(why);return false;}if(submitcount55997 == 0){submitcount55997++;theForm.submit();return false;}else{alert("Form submission is in progress.");return false;}}
//]]>
</script></form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
	  
	  
    </div>
  </div>

</div>

