<div class="col-md-8 col-sm-7">
{tag_postlist}
                              
                             <p class="page-nav">{tag_previouspage} {tag_pagination} {tag_nextpage}</p>
                          </div>
         
            <div class="col-md-4 col-sm-5">
                              <div class="blog-cate">
                                  <h4>Categories</h4>
                                  {tag_blogcategorylist}
                              </div>
                              <div class="blog-cate blog-arch">
                                  <h4>archives</h4>
                                  {tag_blogpostarchive}
                              </div>
                          </div>