<div class="partner-logo">
    <span><a href="{tag_website url}" target="_blank"><img src="{tag_logo_value}" alt=""></a></span>
                          <ul>
                              <li><a target="_blank" href="{tag_website url}">{tag_name_nolink}</a></li>
                              <li><a href="tel:{tag_phone number}">{tag_phone number}</a></li>
                              <li><a href="mailto:{tag_email address}">{tag_email address}</a></li>
                          </ul>
                      </div>